.home-view {
  position: relative;
  /*margin: 10px 20px;*/
  margin: 10px auto;
  width: 1000px;
}

.home-view > h1 {
  margin: 10px 0;
  font-size: 1.5em;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
}

.home-view > table > thead > tr > th,
.home-view > table > tbody > tr > td {
  padding-left: 12px;
}
.home-view > table > tbody > tr > td > a {
  text-decoration: none;
}